body {
  font-family: 'Alatsi', sans-serif;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  background: black;
  min-height: 100vh;
}


.fixed-top {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
}

.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

